#pogrubienie_blaszkowska {
    font-size: 34px;
    color: #815CCE;
}

#pochylona_blaszkowska {
    font-size: 39pt;
    color: #E5C06A;
}

#index_gorny_blaszkowska {
    font-size: 1.4cm;
    color: #958E1A;
}

#index_dolny_blaszkowska {
    font-size: 2.3cm;
    color: rgb(19%, 87%, 42%);
}

#mono_blaszkowska {
    font-size: 44px;
    color: #15DE9C;
}

#powiekszenie_blaszkowska {
    color: #4F3E9C;
}

#pomniejszenie_blaszkowska {
    color: rgb(70%, 64%, 22%);
}