body {
    background-color: silver;
}

p:not(:first-child) {
    font-size: 11pt;
}

p:first-child {
    font-size: 7mm;
    font-style: italic;
}

div#pierwszy_blaszkowska {
    width: 712pt;
    margin-left: auto;
    margin-right: auto;
    background-color: #8888FF;
    border-radius: 14mm;
    border: 5px solid #000088;
}

div#drugi_blaszkowska {
    width: 912pt;
    background-color: pink;
    border-radius: 15mm;
    border: 3px solid #000000;
}

div#trzeci_blaszkowska {
    width: 1112pt;
    background-color: #44FF44;
    border-radius: 13mm;
    border: 7px solid violet;
}
